:root {
    --primary-text-color:  #212121;
    --secondary-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-additional-color: #757575;
    --secondary-additional-color: #000000;
    --secondary-bg-color:#F5F4FA;
    --bg-hero-footer-color: #2F303A;
    --bg-button-hero: #188CE8;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
     font-family: "Roboto" , "sans-serif" ;
      background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
   /* или через класс .footer-address */
  font-style: normal;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  /*  color: inherit; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --------------ЛОГОТИП---------- */
.logo{
   font-family: 'Raleway' ;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;
margin-left: 215px;
margin-top: 37px;


}
.logo-first{
   font-family: 'Raleway';
font-size: 26px;
line-height: 1.2;
color: var(--accent-color);
}
.logo-second{
    font-family: 'Raleway' ;
font-size: 26px;
line-height: 1.2;
 color: var(--secondary-additional-color);

}
.logo-last-footer{
font-family: 'Raleway' ;
font-size: 26px;
line-height: 1.2;
    color: var(--secondary-color);
}
/* ------------ХЕДЕР--------------*/
.container{
    width: 1200px;
    display: inline-flex;
    align-items: center;
}
.site-nav  { 
gap: 50px;
text-decoration: none; 
color: var(--primary-text-color);
list-style-type: none;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}

.nav-adress{  
    
    gap: 30px;
  
  text-decoration: none;
  color: var(--primary-additional-color); 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
 
}
.nav-adress:hover , 
.nav-adress:focus ,
.site-nav:hover , 
.site-nav:focus{
 color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}
.list-style{
    list-style-type: none;
    display: inline-block;
   }
/* герой */
.hero{
    background-color: var(--bg-hero-footer-color);
    color: var(--secondary-color);
    font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-title{
    font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
/* --------Кнопки---------- */
.button{
    font-family : inherit;
    background-color: var(--bg-button-hero);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;

}

.buttons-portfolio{
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
}
.buttons-portfolio:hover , .buttons-portfolio:focus{
    background-color: var(--accent-color);
    color: var(--secondary-color);
}
/*----------------ОСОБЛИВОСТІ--------------*/
.features-title{
    color: var(--primary-text-color);
    font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase

}
.features-text{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
 color: var(--primary-additional-color); 

}
/*--------------ABOUT---------- */

.web-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);

}
/*------КОМАНДА---------*/
.team{
    background-color: var(--secondary-bg-color);
}
.team-title-icone{ 
    font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}

.team-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
color: var(--primary-additional-color); 

}
/*-----------------ПОРТФОЛІО------------- */



/*------------ПРОЕКТИ ПОРТФОЛИО------------ */
.project-title{
    color: var(--primary-text-color);
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.project-text{
    color: var(--primary-additional-color); 
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
}
.project-icon{
    width:370px ;
     height:294px;
}
/* -----------------ФУТЕР------------------*/
.footer {  
    background-color: var(--bg-hero-footer-color);
}

.footer-adress {
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--secondary-color);
    text-decoration: none;
      font-style: normal;
}
.footer-contacts {
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
  font-style: normal;
}
.footer-adress:hover,
 .footer-adress:focus,
 .footer-contacts:hover,
 .footer-contacts:focus{
    color: var(--accent-color);
 }

