/* .hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-hero-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient (to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/Hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-hero-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient rgba(47, 48, 58, 0.4), url(../img/Hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
