:root {
    --primary-text-color:  #212121;
    --secondary-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-additional-color: #757575;
    --secondary-additional-color: #000000;
    --secondary-bg-color:#F5F4FA;
    --bg-hero-footer-color: #2F303A;
    --bg-button-hero: #188CE8;
}
body{
     font-family: "Roboto" , "sans-serif" ;
      background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.03em;
}
/* Логотип */
.logo{
   font-family: 'Raleway' ;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;

}
.logo-first{
   font-family: 'Raleway';
font-size: 26px;
line-height: 1.2;
color: var(--accent-color);
}
.logo-second{
    font-family: 'Raleway' ;
font-size: 26px;
line-height: 1.2;
 color: var(--secondary-additional-color);

}
.logo-last-footer{
font-family: 'Raleway' ;
font-size: 26px;
line-height: 1.2;
    color: var(--secondary-color);
}
/* навигація хедера */

.site-nav  {
text-decoration: none; 
color: var(--primary-text-color);
list-style-type: none;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}
.nav-adress:hover , 
.nav-adress:focus ,
.site-nav:hover , 
.site-nav:focus{
 color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}
.nav-adress{
  text-decoration: none;
  color: var(--primary-additional-color); 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav-adress {
    list-style-type: none;
}


/* герой */
.hero{
    background-color: var(--bg-hero-footer-color);
    color: var(--secondary-color);
    font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-title{
    font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
/* Кнопки */
.button{
    font-family : inherit;
    background-color: var(--bg-button-hero);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;
}
.list-style-none{
 list-style-type: none;
  text-decoration: none;
}
.buttons-portfolio{
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
}
.buttons-portfolio:hover , .buttons-portfolio:focus{
    background-color: var(--accent-color);
    color: var(--secondary-color);
}
/* особливості */
.features-title{
    color: var(--primary-text-color);
    font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase

}
.features-text{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
 color: var(--primary-additional-color); 

}
/* about */

.web-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);

}
/* команда */
.team{
    background-color: var(--secondary-bg-color);
}
.team-title-icone{ 
    font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}

.team-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
color: var(--primary-additional-color); 

}
/* Портфоліо */
.portfolio{

}
/* спрятані заголовки*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* проєкти портфоліо */
.project-title{
    color: var(--primary-text-color);
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.project-text{
    color: var(--primary-additional-color); 
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
}
/* Футер */
.footer {  
    background-color: var(--bg-hero-footer-color);
}

.footer-adress {
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--secondary-color);
    text-decoration: none;
      font-style: normal;
}
.footer-contacts {
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
  font-style: normal;
}
.footer-adress:hover,
 .footer-adress:focus,
 .footer-contacts:hover,
 .footer-contacts:focus{
    color: var(--accent-color);
 }

