.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
