.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--transition);

  @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and(min-width:767px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
