.features {
  @extend %section;
  display: block;
  // TABLET
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
  }
  // DESKTOP
  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 30px;
  }
}
.features__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
}
.icon__antenna::before {
  background-image: url(../img/Features/antenna\ 1.png);
}
.icon__clok::before {
  background-image: url(../img/Features/clock\ 1.png);
}
.icon__diagram::before {
  background-image: url(../img/Features/diagram\ 1.png);
}
.icon__astronaut::before {
  background-image: url(../img/Features/astronaut\ 1.png);
}
.features__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}
.features__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-additional-color);
}
