.adress {
  margin-top: 20px;
}
.footer {
  background-color: var(--bg-hero-footer-color);
  padding: 60px 0;
}
.footer__wrapper:not(:last-child) {
  margin-bottom: 9px;
}
.footer__container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--first {
    margin-right: 70px;
  }

  &--second {
    margin-right: auto;
  }
}

.footer__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-decoration: none;
  font-style: normal;
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-socials {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 16px;
}
.footer__item {
  border-radius: 50%;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--secondary-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color var(--transition), background-color var(--transition),
    border-radius var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
    color: var(--secondary-color);
  }
}
.footer__icon {
  fill: currentColor;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}
.footer__form--label {
  cursor: pointer;
  position: relative;
  width: 358px;
  height: 50px;
}
.footer__form--label input {
  color: var(--primary-additional-color);
  padding-left: 65px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer__label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__form--label:focus-within > .footer__label {
  transition: var(--transition);
  transform: translateX(-150%);
}
