.logo {
  margin-right: 93px;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__first {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo__second {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-additional-color);
}
.logo__footer {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-color);
}
