.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: color var(--transition), background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-color);
  }
}

.socials__icon {
  fill: currentColor;
}
