:root {
  // Colors
  --primary-text-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --primary-additional-color: #757575;
  --secondary-additional-color: #000000;
  //   Background color
  --secondary-bg-color: #f5f4fa;
  --bg-hero-footer-color: #2f303a;
  --bg-button-hero: #188ce8;
  //   transition
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --index-backdrop: 1000;
}
